 /home/giulio/prove/algoritmiprova
         /home/giulio/prove/algoritmiprova.cpp
         /home/giulio/prove/asserttest
         /home/giulio/prove/asserttest.cpp
         /home/giulio/prove/binomial.cpp
         /home/giulio/prove/chauv.cpp
         /home/giulio/prove/femministasimulator
         /home/giulio/prove/femministasimulator.cpp
         /home/giulio/prove/heaptest
         /home/giulio/prove/heaptest.cpp
         /home/giulio/prove/ifcoilambda
         /home/giulio/prove/ifcoilambda.cpp
         /home/giulio/prove/lambdaexpr
         /home/giulio/prove/lambdaexpr.cpp
         /home/giulio/prove/megaarray.cpp
         /home/giulio/prove/poisson.cpp
         /home/giulio/prove/polytest
         /home/giulio/prove/polytest.cpp
         /home/giulio/prove/prova
         /home/giulio/prove/prova.cpp
         /home/giulio/prove/test
         /home/giulio/prove/test.cpp