algoritmiprova
        algoritmiprova.cpp
        asserttest
        asserttest.cpp
        binomial.cpp
        chauv.cpp
        femministasimulator
        femministasimulator.cpp
        heaptest
        heaptest.cpp
        ifcoilambda
        ifcoilambda.cpp
        lambdaexpr
        lambdaexpr.cpp
        megaarray.cpp
        poisson.cpp
        polytest
        polytest.cpp
        prova
        prova.cpp
        test
        test.cpp